ul.top-nav {
    /* Light Blue background-color:#0b61a4; */
    /* Dark Blue */ background-color:rgb(23, 54, 93);
    color:white;
}
ul.top-nav a{
    color:white;
    text-decoration:none;
}

ul.top-nav>li.current {
    /* Light Blue background-color:#3f92d2; */
    /* Dark Blue */ background-color:#0b61a4;
}